@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  background: #f4f5f7;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
}

.nav-item:first-child {
  position: relative;
  margin-left: -25px;
  color: #6070ff;
  font-weight: 700;
  width: 76px;
  font-family: 'Poppins', sans-serif;
  height: 20px;
  list-style: none;
}

.other-item {
  list-style: none;
  display: none;
}

.nav-ham {
  height: 15px;
  margin-left: auto;
  padding-top: 20px;
  margin-right: 30px;
}

.banner {
  /* width: 375px; */
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.rec-1 {
  position: absolute;
  height: 50px;
  margin-left: -40px;
}

.elli-1 {
  position: absolute;
  height: 20px;
  margin-top: 20px;
  margin-left: -11px;
}

.rec-2 {
  position: absolute;
  height: 8px;
  margin-left: 130px;
  margin-top: 40px;
  transform: rotate(60deg);
}

.elli-2 {
  position: absolute;
  margin-left: 130px;
  height: 10px;
  margin-top: 45px;
}

.rec-3 {
  position: absolute;
  height: 100px;
  right: -20px;
  overflow-x: hidden;
}

.elli-3 {
  position: absolute;
  height: 100px;
  right: -50px;
  margin-top: 50px;
  transform: rotate(-15deg);
}

.intro {
  margin-top: 100px;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 80px;
}

.information {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 80px;
}

.socials {
  margin-left: 80px;
}

.socials-header {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
}

.twitter {
  margin-right: 15px;
}

.dotted {
  position: absolute;
}

.letter {
  margin-right: 15px;
}

.medium {
  margin-right: 15px;
}

.github {
  margin-right: 15px;
}

.social-shapes {
  position: absolute;
  bottom: 20px;
  right: -0;
  margin-right: 50px;
}

.elli-6 {
  position: absolute;
  margin-top: 13px;
}

.elli-7 {
  margin-bottom: 25px;
}
